.day{
    box-sizing: border-box;
    width: 19%;
    display: inline-block;
    background-color: #33475A;
    margin-left: .5%;
    margin-right: .5%;
    color: white;
    padding: 5px;
}

.day-header{
    width: 100%;
    display: block;
}

.hidden{
    display: none;
}

.header{
    background: rgb(59,109,195);
    background: linear-gradient(90deg, #0069D9 0%, #33475A 100%);
    color: white;
    line-height: 200%;
}

.uv-index{
    border-radius: 4px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 90%;
}

#today{
    padding: 5px;
    margin: .5%;
}

#five-day{
    width: 100%;
}

#placeholder-img{
    width: 100%;
}

#search{
    margin-top: 5px;
}